In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("/PYTHON/melb_data.csv")

In [3]:
df.shape

(13580, 21)

In [4]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

# EDA

In [6]:
df["Car"].fillna(0,inplace=True)

In [7]:
df["BuildingArea"].fillna(df["BuildingArea"].mean(),inplace=True)

In [8]:
df.drop("YearBuilt", axis=1,inplace=True)

In [9]:
df.drop("CouncilArea", axis=1,inplace=True)

In [10]:
df_cat = df.select_dtypes("object")
df_num = df.select_dtypes(["int64","float64"])

# Encoding

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
for col in df_cat:
    le = LabelEncoder()
    df_cat[col] = le.fit_transform(df_cat[col])

In [13]:
df_new = pd.concat([df_num,df_cat],axis=1)

In [14]:
df_new.head()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Lattitude,Longtitude,Propertycount,Suburb,Address,Type,Method,SellerG,Date,Regionname
0,2,1480000.0,2.5,3067.0,2.0,1.0,1.0,202.0,151.96765,-37.7996,144.9984,4019.0,0,12794,0,1,23,45,2
1,2,1035000.0,2.5,3067.0,2.0,1.0,0.0,156.0,79.00000,-37.8079,144.9934,4019.0,0,5943,0,1,23,47,2
2,3,1465000.0,2.5,3067.0,3.0,2.0,0.0,134.0,150.00000,-37.8093,144.9944,4019.0,0,9814,0,3,23,48,2
3,3,850000.0,2.5,3067.0,3.0,2.0,1.0,94.0,151.96765,-37.7969,144.9969,4019.0,0,9004,0,0,23,48,2
4,4,1600000.0,2.5,3067.0,3.0,1.0,2.0,120.0,142.00000,-37.8072,144.9941,4019.0,0,10589,0,4,155,49,2

In [15]:
X = df_new.drop("Price",axis=1)
y = df_new["Price"]

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [17]:
# BASELINE MODEL

In [18]:
lr = LinearRegression()

In [19]:
lr.fit(X_train,y_train)

LinearRegression()

In [20]:
lr.score(X_test,y_test)

0.3035097683798863

In [21]:
##DECISION TREE REGRESSOR

In [22]:
from sklearn.tree import DecisionTreeRegressor

In [23]:
dr = DecisionTreeRegressor()

In [24]:
dr.fit(X_train,y_train)

DecisionTreeRegressor()

In [25]:
dr.score(X_test,y_test)

0.5180400091123296

In [39]:
#Decision Tree with pruning Technique

In [32]:
dt3 = DecisionTreeRegressor(max_depth=10)

In [33]:
dt3.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=10)

In [35]:
dt3.score(X_test,y_test)

0.5800930894443707

In [40]:
#Decision Tree with min sample leaf

In [41]:
dt4 = DecisionTreeRegressor(min_samples_leaf=50)

In [42]:
dt3.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=10)

In [43]:
dt3.score(X_test,y_test)

0.5589990907481321

In [46]:
#Decision Tree Combine Score

In [45]:
dt5 = DecisionTreeRegressor(max_depth=10,min_samples_leaf=20)

In [47]:
dt3.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=10)

In [48]:
dt3.score(X_test,y_test)

0.5770643374061397

In [49]:
##RANDOM FOREST REGRESSOR

In [50]:
from sklearn.ensemble import RandomForestRegressor

In [51]:
rf = RandomForestRegressor(n_estimators=15,random_state=1,max_features=12)

In [52]:
rf.fit(X_train,y_train)

RandomForestRegressor(max_features=12, n_estimators=15, random_state=1)

In [53]:
y_pred = rf.predict(X_test)

In [54]:
rf.score(X_test,y_test)

0.8085219238931389